</head>
<body>
<div class="container">

<h2>{{title}}</h2>
<p id="content"></p>
</div>
<script>
  const pythonGuide = `this is narasimmg <br> hehehe <br> will this work?? <br>`;
  const pythonGuideContainer = document.getElementById('content');
  pythonGuideContainer.innerHTML = pythonGuide;
</script>