</head>
<body>
<div class="container">

<h2>{{title}}</h2>
<p id="content">{{content}}</p>
</div>
<script>
  const pythonGuideContainer = document.getElementById('content');
    const pythonGuide = pythonGuideContainer.innerText;
  pythonGuideContainer.innerHTML = pythonGuide;
</script>