</head>
<body>
<div class="container">

<h2>{{title}}</h2>
<p id="content"></p>
</div>
<script>
  const pythonGuide = {{content}};
  const pythonGuideContainer = document.getElementById('content');
  pythonGuideContainer.innerHTML = pythonGuide;
</script>